In [1]:
import pandas as pd

# import dataset
data = pd.read_csv('C:/Users/User/Documents/Pembelajaran Bahasa Alami/Proyek/klasifikasi-jurnal-menggunakan-naive-bayes-classifier/Twitter_Emotion_Dataset(Train).csv')
print (data)

        label                                              tweet
0       anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1       anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2       happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3       anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4       happy  Sharing pengalaman aja, kemarin jam 18.00 bata...
5       anger  Dari sekian banyak thread yang aku baca, threa...
6       happy  Sharing sama temen tuh emg guna bgt. Disaat lu...
7     sadness  Orang lain kalau pake ponco itu buat jas hujan...
8       anger  Contoh mereka yg gemar menyudutkan, teriak pal...
9     sadness  Pulang udah H-4 lebaran dilema sekali. Seperti...
10      anger  Betul Min rakyat Indonesia sekarang harapan ny...
11      anger  Kalaupun fansite ngejual hasil jepretan mereka...
12      happy  sangat bersyukur bisa mendoakan kakeknya, Bung...
13    sadness  Sulit menerima kenyataan memang bahwa ada seba...
14      anger  samanye udeh maling semua gak si jancok gak si...
15      anger  Ku juga pengen ngamuk bacain komen2 netizen yg...
16       love  Setiap kesempatan yg pernah hadir tuk dapat me...
17      anger  Sedap kali kau ya bobok dikasur ku. Aku tidur ...
18      happy  H-9. Mau ke bank rame bgt ampe antrian tempat ...
19      anger  Benar2 hancur negara ini dikelola amatiran, tp...
20      anger  Budayakan mencari dan membaca sebelum nanya ya...
21    sadness  Separuh hati ini iri jika melihat seorang anak...
22      happy  Ketika aku tersenyum bukan berarti hidupku sem...
23    sadness  dari mau tdr, tidur, sampe bgn tdr kok yaa kay...
24       love  kan kupeluk engkau erat2 hingga tak ada seoran...
25      anger  Kalo mau ganti presiden itu harus jelas siapa ...
26      happy  Sukses n keren banget dgn no.1 kualitas,bhn kr...
27      anger  Udah mau sarjana 2 kali, mbokya mulut nya jang...
28      anger  Gimana orang ga nilai dr jilbab/syari/nggak ny...
29       fear  Hari ini jadwal presentasi proker di LPPM karn...
...       ...                                                ...
2970     love  Dr dulu suka gemes sndr tiap abang maen game m...
2971    happy  Terima Kasih, Terima kash banyak . Kepada Tuha...
2972    anger  [USERNAME] Malam saya mau tanya kenapa benefit...
2973     love  Cinta Ibu merupakan cinta yang paling suci Cin...
2974  sadness  Gabisa sayang :( Kecuali anak s1 mau ke s2 psi...
2975    happy  ataauuu aku yg ga pernah keluar rumah menjelan...
2976     love  [USERNAME] Naomi..Aku benar-benar Sayang dan C...
2977    anger  Sekali , dua kali , tiga kali , lama2 bosan ju...
2978     love  Di sini Talha RA mati-matian berusaha ngelindu...
2979    happy  happy birthday sender!! Wish you all the best,...
2980     fear  jd kmrn dpt tmpt ujian di smp 5 trus pas surve...
2981  sadness  dulu kalau mau berangkat ngaji trs hujan gak a...
2982  sadness  Mencintai kamu itu tidak sulit, yang sulit itu...
2983  sadness  [USERNAME] Udah dipaksa tapi aku bukan anak ge...
2984    happy  AAAAAK SUKA BANGET. feel sehabis nonton sama k...
2985     love  sekarang kalo lihat yg lagi kasmaran ngomong s...
2986     love  Terimakasih buat semuanya, saya sayang kamu su...
2987     love  Mungkin ini aneh dan gak relevan tapi aku baru...
2988     fear  Kalo ada luka terbuka jg lbh gede tuh peluang ...
2989     love  Aku dulu pernah ka suka, sampe didatengin kesi...
2990    anger  selamat jam pulang ngantor! selamat bermacet2 ...
2991    anger  [USERNAME] Paket Saya dengan No resi JB0002742...
2992    anger  Sama sekali nggak. Arab lokal nggak peduli kok...
2993    anger  [USERNAME] [USERNAME] Keledai itu dibilang bod...
2994  sadness  petani dieng rugi akibat bun upas - mungkin su...
2995     fear  Pas Sma kalo pelajaran berikutnya bindo, ngibr...
2996    anger  Tapi bahaya juga sih Cal kalau gitu Amit2 karn...
2997     love  Cewek bawel karna dia perduli. cewek cemburu k...
2998    happy  Jalan-jalan cari suasana baru dan pengetahuan ...
2999     fear  [USERNAME] [USERNAME] Cerita satinah satu ini ...

[3000 rows x 2 columns]

In [2]:
data.describe()

        label                                              tweet
count    3000                                               3000
unique      5                                               2994
top     anger  Aku gak salah bila mohon pd [USERNAME], segera...
freq      869                                                  2

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 2 columns):
label    3000 non-null object
tweet    3000 non-null object
dtypes: object(2)
memory usage: 47.0+ KB

In [4]:
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Image
%matplotlib inline

In [5]:
import seaborn as sns

In [6]:
data.shape

(3000, 2)

In [7]:
numerical_vars = []
categorical_vars = ['label', 'tweet']

In [8]:
data_tweet = data[numerical_vars + categorical_vars]

In [9]:
data_tweet['label'].describe()

count      3000
unique        5
top       anger
freq        869
Name: label, dtype: object

In [10]:
# data_tweet['label'].hist(edgecolor='black', bins=50)

In [11]:
data_tweet[categorical_vars].describe()

        label                                              tweet
count    3000                                               3000
unique      5                                               2994
top     anger  Aku gak salah bila mohon pd [USERNAME], segera...
freq      869                                                  2

In [12]:
import numpy  as np
import pandas as pd
import geopandas as gpd
import json

import re
import nltk.corpus
from Unidecode                        import unidecode
from nltk.tokenize                    import word_tokenize
from nltk                             import SnowballStemmer
from sklearn.feature_extraction.text  import TfidfVectorizer
from sklearn.preprocessing            import normalize

ModuleNotFoundError: No module named 'geopandas'

In [ ]:
data["tweet"] = data["tweet"].astype(str)

In [ ]:
corpus = data['tweet'].tolist()
corpus[0]

In [ ]:
def removeWords(listOfTokens, listOfWords):
    return [token for token in listOfTokens if token not in listOfWords]

def applyStemming(listOfTokens, stemmer):
    return [stemmer.stem(token) for token in listOfTokens]

def twoLetters(listOfTokens):
    twoLetterWord = []
    for token in listOfTokens:
        if len(token) <= 2 or len(token) >= 21:
            twoLetterWord.append(token)
    return twoLetterWord

In [ ]:
def processCorpus(corpus, language):   
    stopwords = nltk.corpus.stopwords.words(language)
    param_stemmer = SnowballStemmer(language)
    other_words = [line.rstrip('\n') for line in open('stopwords_scrapmaker.txt')] # Load .txt file line by line
    
    for document in corpus:
        index = corpus.index(document)
        corpus[index] = corpus[index].replace(u'\ufffd', '8')   # Replaces the ASCII '�' symbol with '8'
        corpus[index] = corpus[index].replace(',', '')          # Removes commas
        corpus[index] = corpus[index].rstrip('\n')              # Removes line breaks
        corpus[index] = corpus[index].casefold()                # Makes all letters lowercase
        
        corpus[index] = re.sub('\W_',' ', corpus[index])        # removes specials characters and leaves only words
        corpus[index] = re.sub("\S*\d\S*"," ", corpus[index])   # removes numbers and words concatenated with numbers IE h4ck3r. Removes road names such as BR-381.
        corpus[index] = re.sub("\S*@\S*\s?"," ", corpus[index]) # removes emails and mentions (words with @)
        corpus[index] = re.sub(r'http\S+', '', corpus[index])   # removes URLs with http
        corpus[index] = re.sub(r'www\S+', '', corpus[index])    # removes URLs with www
        
        corpus[index] = re.sub(r'[^\w]|_',' ',corpus[index])    #remove punctuations
        
        corpus[index] = re.sub('[\s]+', ' ', corpus[index])     #Remove additional white spaces

        listOfTokens = word_tokenize(corpus[index])
        twoLetterWord = twoLetters(listOfTokens)

        listOfTokens = removeWords(listOfTokens, stopwords)
        listOfTokens = removeWords(listOfTokens, twoLetterWord)
        listOfTokens = removeWords(listOfTokens, other_words)
        
        listOfTokens = removeWords(listOfTokens, other_words)

        corpus[index]   = " ".join(listOfTokens)
        corpus[index] = unidecode(corpus[index])

    return corpus

In [ ]:
language = 'english'
corpus = processCorpus(corpus, language)
corpus[0]

In [ ]:
import sys
print(sys.executable)